.paper.form {
  padding: 90px 5% 60px;
  width: 95%;
  margin: 0 auto;
  border: 1px solid white;
}

.paper.paper--xs {
  max-width: 250px
}

.paper.paper--s {
  max-width: 450px
}

.paper.paper--m {
  max-width: 600px
}

.paper.paper--l {
  max-width: 750px
}

.paper.paper--xl {
  max-width: 950px
}

.paper--vertical-fix {
  position: relative;
  top: -32px;
}

