@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,400,700');
@import url('./animations.css');

::selection {
  color:white;
  background: #bbdefb;
}

html {
  font-size: 20px;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0
}

a {
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
